.paleta-colores{
    color: #F0F3FC; /*Color de fondo*/
    color: #0E2A47; /*Color azul de fondo */

    color: #af0b19; /*Color rojo Unicauca*/
    color: #345070; /*Color azul Unicauca*/

    color: #32BEA6; /*Color verde valor correcto */
    color: #F69110; /*Color verde valor correcto */
    color: #EF314C; /*Color verde valor correcto */
}